core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/brain-tumor-mri-dataset/Testing/
inputs/brain-tumor-mri-dataset/Training/
